Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

ANSWER:-

In [1]:
# Create a list of length 10 with multiple types of data
list1 = ["ansh", 14, 15.6, True, [1,2,3], (1,2,3), {"name": "ansh vyas"}]

# Use a for loop to print the element and its data type
for i in list1:
    print("element is", i, " and its datatype is " ,type(i))

element is ansh  and its datatype is  <class 'str'>
element is 14  and its datatype is  <class 'int'>
element is 15.6  and its datatype is  <class 'float'>
element is True  and its datatype is  <class 'bool'>
element is [1, 2, 3]  and its datatype is  <class 'list'>
element is (1, 2, 3)  and its datatype is  <class 'tuple'>
element is {'name': 'ansh vyas'}  and its datatype is  <class 'dict'>